%table{:border => "1"}
  %thead
    %tr
      %th Name
      %th email 
      %th birtdate 
      %th gender
      %th dni
      %th customer

  %tbody 
    - @people.each do |person|
      %tr 
        %td 
          = person.name
        %td 
          = person.email
        %td 
          = person.birtdate
        %td
          = person.gender
        %td
          = person.dni
        %td
          = person.customer

%br/
= link_to('New Person', new_person_path)